<a id="TableOfContents"></a>
# TABLE OF CONTENTS:
<li><a href='#imports'>Imports</a></li>
<li><a href="#gettelco">Get Telco Dataset</a></li>

##### Orientation:
The purpose of this file is to test the functionality of the 'acquire.py' file and ensure that it operates properly.

<a id='imports'></a>
# IMPORTS:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Import the 'acquire.py' file to test
import acquire

# Base imports
import pandas as pd
import numpy as np
from datetime import datetime

<a id='gettelco'></a>
# Get Telco Dataset:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [2]:
# Acquire the 'telco' dataset
telco = acquire.get_telco_data()
telco.sample()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,churn_month,signup_date,contract_type,internet_service_type,payment_type
1857,2,3,1,2692-PFYTJ,Female,0,No,No,1,Yes,...,No internet service,Yes,25.75,25.75,No,NaN,2021-12-21,Month-to-month,None,Mailed check

In [3]:
# Check dtypes of columns
# ISSUES:
'''
churn_month : 'object' ==> 'datetime'
signup_date : 'object' ==> 'datetime'
'''
telco.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  churn_month               1869 non-null   object
 22  signup_date               7043 non-null   object
 23  contract_type             7043 non-null   object
 24  internet_service_type     7043 non-null   object
 25  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(20)
memory usage: 1.5+ MB