<a id="TableOfContents"></a>
# TABLE OF CONTENTS:
<li><a href='#imports'>Imports</a></li>
<li><a href="#gettelco">Get Telco Dataset</a></li>

##### Orientation:
The purpose of this file is to test the functionality of the 'acquire.py' file and ensure that it operates properly.

<a id='imports'></a>
# IMPORTS:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Import the 'acquire.py' file to test
import acquire

<a id='gettelco'></a>
# Get Telco Dataset:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [2]:
# Acquire the 'telco' dataset
telco = acquire.get_telco_data()
telco.sample()

,contract_type_id,payment_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,payment_type,contract_type
199,1,2,1,0314-TKOSI,Female,0,No,No,6,Yes,...,No,No,No,No,55.15,322.9,No,DSL,Mailed check,Month-to-month