<a id="TableOfContents"></a>
# TABLE OF CONTENTS:
<li><a href='#imports'>Imports</a></li>
<li><a href="#preptelco">Prepare Telco Dataset</a></li>

##### Orientation:
The purpose of this file is to test the functionality of the 'prepare.py' file and ensure that it operates properly.

<a id='imports'></a>
# IMPORTS:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Import the 'prepare.py' file to test
import prepare

<a id='preptelco'></a>
# Prepare Telco Dataset:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [2]:
# Prepare the 'telco' dataframe
telco = prepare.prep_telco()
telco.sample()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,internet_service_type_None,payment_type_Bank transfer (automatic),payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,contract_type_Month-to-month,contract_type_One year,contract_type_Two year,total_services,total_extra_services
6897,9795-VOWON,Male,0,No,No,7,No,No phone service,No,No,...,0,0,1,0,0,0,1,0,1,0

In [3]:
# Ensure 'total_services' and were created properly
telco.total_services

0       5
1       4
2       3
3       6
4       4
       ..
7038    4
7039    4
7040    3
7041    6
7042    6
Name: total_services, Length: 7043, dtype: uint8

In [4]:
# Ensure 'total_extra_services' and were created properly
telco.total_extra_services

0       3
1       1
2       1
3       4
4       2
       ..
7038    2
7039    1
7040    1
7041    4
7042    5
Name: total_extra_services, Length: 7043, dtype: uint8