<a id="TableOfContents"></a>
# TABLE OF CONTENTS:
<li><a href='#imports'>Imports</a></li>
<li><a href="#preptelco">Prepare Telco Dataset</a></li>

##### Orientation:
The purpose of this file is to test the functionality of the 'prepare.py' file and ensure that it operates properly.

<a id='imports'></a>
# IMPORTS:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Import the 'prepare.py' file to test
import prepare

<a id='preptelco'></a>
# Prepare Telco Dataset:
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [2]:
# Prepare the 'telco' dataframe
telco = prepare.prep_telco()
telco.sample()

/usr/local/anaconda3/lib/python3.9/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,sign_dayofweek_1,sign_dayofweek_2,sign_dayofweek_3,sign_dayofweek_4,sign_dayofweek_5,sign_dayofweek_6,total_services,total_extra_services,value_per_total_services,value_per_total_extra_services
5305,Female,1,Yes,No,8,Yes,Yes,No,Yes,No,...,0,0,0,1,0,0,4,1,20.1625,80.65

In [11]:
# Ensure 'churn_month' dtype is 'datetime'
telco.churn_month.sample()

735   NaT
Name: churn_month, dtype: datetime64[ns]

In [12]:
# Ensure 'signup_date' dtype is 'datetime'
telco.signup_date.sample()

677   2016-05-21
Name: signup_date, dtype: datetime64[ns]

In [13]:
# Ensure 'total_services' and were created properly
telco.total_services.sample()

780    1
Name: total_services, dtype: int64

In [14]:
# Ensure 'total_extra_services' and were created properly
telco.total_extra_services.sample()

4238    2
Name: total_extra_services, dtype: int64

In [15]:
# Check for 'sign_year'
telco.sign_year.sample()

5325    2021
Name: sign_year, dtype: object

In [16]:
# Check for 'sign_month'
telco.sign_month.sample()

2288    10
Name: sign_month, dtype: object

In [17]:
# Check for 'sign_day'
telco.sign_day.sample()

3842    21
Name: sign_day, dtype: object

In [18]:
# Check for 'sign_dayofweek'
telco.sign_dayofweek.sample()

2594    1
Name: sign_dayofweek, dtype: object

In [19]:
# Check for 'value_per_total_services'
telco.value_per_total_services.sample()

844    19.8
Name: value_per_total_services, dtype: float64

In [20]:
# Check for 'value_per_total_extra_services'
telco.value_per_total_extra_services.sample()

822    27.1
Name: value_per_total_extra_services, dtype: float64